:root[color-mode="light"] {
  --color-grey: #0000008c;
  --color-light: #0000001c;
  --color-basic: #0000000a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: var(--color-basic);
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0 15rem;
}

.menu {
  width: 95%;
  display: flex;
  list-style: none;
}

.menu li {
  padding: 10px 10px;
}

.menu li a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: 16px;
}

.menu li a:hover {
  color: #000;
}

.menu > li:nth-last-of-type(1) a {
  color: orange;
}

.list li a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: 16px;
  color: orange;
}
.list li:hover {
  background-color: var(--color-basic);
}
.list {
  list-style: none;
  display: none;
  z-index: 1;
  position: absolute;
  top: 50px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5%;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.other {
  height: 50px;
}
.other > a > img {
  height: 36px;
  margin: 7px 0;
  border-radius: 50%;
}
#introduction {
  display: none;
  z-index: 99;
  height: 20rem;
  width: 12rem;
  background-color: aliceblue;
}
.main {
  width: 66rem;
  height: 100rem;
  margin: 20px auto 0;
  display: flex;
}

.left {
  width: 50rem;
  height: 30rem;
  margin-right: 1rem;
  padding: 10px;
}

.right {
  width: 15rem;
  height: 30rem;
  margin-top: 10px;
}

.discussion {
  top: 20px;
  height: 7rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.dis1,
.dis2 {
  width: 49.5%;
  height: 100%;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0.5px var(--color-light);
  display: flex;
  flex-wrap: wrap;
}

.discussion a {
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
  justify-self: flex-end;
  align-self: flex-end;
}

.box1 {
  display: inline-block;

  height: 30%;
  width: 80%;
  padding: 10px;
  font-size: 14px;
}

.discussion span {
  vertical-align: middle;
  color: orange;
  background: #f8deaac0;
  border: 1px solid #f8deaac0;
  border-radius: 10px;
  font-size: 14px;
  padding: 2px;
  width: 3rem;
}

.box2 {
  font-size: 12px;
  height: 50%;
  width: 100%;
  color: var(--color-grey);
  padding: 5px 10px;

  /* 已改 */
}
.box2 > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.advertisement {
  height: 5rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.advertisement > a > img {
  width: 49rem;
  border-radius: 10px;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(-2px);
  }
}
@keyframes moveback {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(2px);
  }
}

.interview {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.brief {
  height: 2rem;
  display: flex;
  align-items: center;
}

.brief > img {
  height: 2rem;
}

.brief > span {
  margin: 0 auto 0 5px;
}

.brief > a {
  text-decoration: none;
  color: var(--color-grey);
  font-size: 12px;
}

.company {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.company > a {
  width: 23%;
  background-color: var(--color-basic);
  border-radius: 10px;
  padding: 10px 20px;
}

.company a > img {
  height: 2rem;
  float: left;
}

.company a > span {
  display: block;
  line-height: 2rem;
  padding-left: 45px;
  color: #000;
}

.detail {
  font-size: 12px;
  margin-top: 10px;
  color: var(--color-grey);
}
.article {
  width: 100%;

  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.page {
  height: 8rem;
  overflow: hidden;
}
.page > img {
  height: 7rem;
  float: left;
  border-radius: 5%;
}
.page > div > img {
  height: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}
.page > .content {
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.page > .content > span:last-of-type {
  margin-left: auto;
  font-size: 14px;
  color: var(--color-grey);
}
.page > p {
  display: block;
  padding: 5px 10px;
  height: 3rem;
  font-size: 14px;
  color: var(--color-grey);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* 已改 */
}

.page > .tag {
  display: flex;
  padding: 0 10px;
}
.page > .tag > span:nth-of-type(1) {
  background: rgb(188, 225, 183);
  border-radius: 50px;
  padding: 1px 7px;
  font-size: 10px;
  color: rgb(63, 196, 42);
}
.page > .tag > span:nth-last-of-type(-n + 3) {
  background: var(--color-basic);
  border-radius: 50px;
  padding: 1px 7px;
  font-size: 10px;
  color: var(--color-grey);
  margin-left: 5px;
}
/* 废 */

.searchbox {
  position: relative;
  height: 25px;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.searchbox > img {
  height: 25px;
  background-color: white;
  float: left;
}
.searchbox > input {
  width: 100%;
  position: absolute;
  left: 25px;
  height: 25px;
  border: none;
  outline: none;
}
.clear {
  height: 15px;
  width: 15px;
  background-color: var(--color-basic);
  position: absolute;
  right: 15px;
  top: 5px;
  border-radius: 50%;
}
.clear::before {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  right: 7.5px;
  background-color: var(--color-grey);
  transform: rotate(45deg);
}
.clear::after {
  content: "";
  width: 1px;
  height: 15px;
  right: 7.5px;
  position: absolute;
  background-color: var(--color-grey);
  transform: rotate(135deg);
}

.hot {
  background: white;
  border-radius: 5px;
}
.hot > p {
  margin: 10px;
}
.hot div {
  padding: 10px;
  width: 100%;
}
.hot div p {
  margin-left: 14px;
  font-size: 12px;
  color: var(--color-grey);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hot div img {
  height: 14px;
  border-radius: 50%;
  margin: 0 5px;
}
.slide {
  position: relative;
  width: 15rem;
  overflow: hidden;
}
.imglist {
  width: 60rem;
  list-style: none;
  position: relative;
}
.imglist li {
  float: left;
}
.imglist li img {
  width: 15rem;
  height: 9rem;
  border-radius: 10px;
}
.circle {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
}
.circle li {
  float: left;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin: 0 4px;
  background-color: var(--color-grey);
  cursor: pointer;
}
