:root {
    --color-grey: #0000008c;
    --color-light:#0000001c;
    --color-basic:#0000000A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-basic);
}
.header {
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 24px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 10px 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 16px;
}

.menu li a:hover {
    color: #000;
}

.menu>li:nth-last-of-type(1) a {
    color: orange;
}

.list {
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 16px;
    color: orange;
}

.list {
    display: none;
    z-index: 1;
}

.menu>li:hover .list {
    /* active只能保持一下，应该要用js */
    display: block;
    position: absolute;
    top: 50px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 5%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main {
    position: relative;
    padding: 0 12rem;

}

.discussion {
    top: 20px;
    background-color: antiquewhite;
    width: 50rem;
    height: 7rem;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.dis1 , .dis2{
    width: 49.5%;
    height: 100%;
    background: white;
    border:1px solid white;
    border-radius: 5px;
    box-shadow:0 0 5px 0.5px var(--color-light);
}

.box1{
    display: inline-block;
    height: 30%;
    width: 80%;
    padding: 10px;
    font-size: 14px;
}

.discussion span{
    vertical-align:middle;
    color: orange;
    background: #f8deaac0;
    border: 1px solid #f8deaac0;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px;
}
.box2 {
    font-size: 12px;
    height: 50%;
    width: 100%;
    color: var(--color-grey);
    padding: 5px 10px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* 两行省略不会，一行都省略不了 */
}
.discussion a{
    float: right;
    margin-right: 15px;
    font-size: 12px;
    text-decoration: none;
}
.part2 {
    margin: 10px;
    background-color: aliceblue;
    width: 50rem;
    height: 20rem;

}